    .dropzone {
    border: 2px dashed #EB7260;
    box-shadow: 0 0 0 5px #373b44;
    background: #373b44;
    color: #fff;
    text-align: center;
}

.dropzone h3 {
    color: white;
    text-align: center;
    line-height: 3em;
    margin-top: 20px;
}

.dz-clickable {
    cursor: pointer;
}

.dz-drag-hover {
    border: 2px solid #EB7260;
}

.dz-preview, .dz-processing, .dz-image-preview, .dz-success, .dz-complete {
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
}

.dz-preview {
    width: auto !important;
}

.dz-image {
    text-align: center;
    /*border: 1px solid #EB7260;*/
}

.dz-details {
    padding: 10px;
}

.dz-success-mark, .dz-error-mark,  {
    display: none;
}
#book-image.dropzone.dz-clickable {
    margin-top: -80px;
}
#book-image .dz-default.dz-message {
    margin: 0 0 15px 0;
}
#book-image > div > h3 {
    line-height: 1;
    margin-top: 70px;
}
.staProfile .panel-heading {
    height: auto;
    padding: 10px 20px;
}
.staProfile .panel-body {
    padding: 0 !important;
}
.staProfile .panel-body .form-group{
    margin-bottom: 0;
}