*{margin:0; padding:0;}
body{font-family: 'Lato', sans-serif; background-color:#f6f6f6;}
#wrapper{width:100%;}
.tiles_heading{color:#c87065; font-size:18px; margin: 10px 0;}
.white_bg{background-color:#FFF;}
.pr20{padding-right:20px;}
.pl20{padding-left:20px;}
.tiles img {max-width: 100%; padding-bottom:20px;}
.tiles_sec {padding:10px 0 20px;}
.code.clearfix.white_bg {padding: 10px 0 20px;}
.code h3 {font-size: 36px;color: #47536f;margin: 10px 0 15px;}
.code p {font-size: 24px;color: #222;line-height: 1.4;}
.code p span{font-size: 18px;color: #222;display:block;}
.social_media{margin-top:10px;margin-bottom:20px;}
.video_sec {margin-bottom: 20px;}
.faq, .contact {margin-bottom: 40px;}
.social_media h3{font-size:16px; margin-bottom:15px;}
.social_icons {margin-bottom: 20px;}
.social_icons li {display: inline-block;}
.social_icons li  a  i{margin: 0 3px;border-radius: 20px;height: 25px;width: 25px;line-height: 24px;text-align: center;color:#fff;}
.dark_blue{background-color: #4f72a8;}
.light_blue{background-color: #1cb7eb;}
.black{background-color: #444444;}
.orange{background-color: #e3411f;}
.red{background-color: #ca3737;}
.blue{background-color: #1686b0;}
.faq p {border-left: 4px solid #d2e5ea;padding-left: 13px;margin-bottom: 20px;}
.faq h3, .contact h3 {margin-bottom: 20px;}
.contact .form-control {border: 1px solid #9babb3;border-radius: 0;}
.contact textarea.form-control {height: 140px;}
.btn {background-color: #c87065;color: #fff;border-radius: 0;}


@media (min-width:992px) and (max-width:1199px){
.code h3 {font-size: 24px;margin-bottom: 6px;}
}

@media (min-width:768px) and (max-width:992px){
.code h3 {font-size: 20px;margin-bottom: 6px;}
.code{margin:0;}
.social_media h3 {margin: 10px 0;}
.social_icons {margin-bottom: 10px;}
.code p {font-size: 20px;}
}

@media (max-width:767px){
.tiles {text-align: center;}
}
@media (max-width:479px){
.code h3 {font-size: 20px;}
}
